<div class="banner">
  <div class="banner-main">
    <div class="slider-bann wow bounceInRight" data-wow-delay="0.3s">
      <ul class="rslides" id="slider2">
        <li>
          <h3><%= t "welcome_travel" %></h3>
          <h4><%= t "welcome_travel_desc" %></h4>
        </li>
        <li>
          <h3><%= t "welcome_travel_2" %></h3>
          <h4><%= t "welcome_travel_desc" %></h4>
        </li>
        <li>
          <h3><%= t "welcome_travel_3" %></h3>
          <h4><%= t "welcome_travel_desc" %></h4>
          <div class="ban-btn">
            <%= link_to t("read_more"), "#", class: "hvr-bounce-out" %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="visit">
  <div class="container">
    <div class="visit-main wow bounceInRight" data-wow-delay="0.3s">
        <div class="visit-top">
          <h3><%= t "visit_place" %></h3>
          <span class="lft-bar-visit"> </span>
          <span class="rit-bar-visit"> </span>
        </div>
        <div class="visit-bottom">
          <div class="col-md-4 visit-grid">
            <div class="item-1 item-type-spin">
              <%= link_to "#", class: "item-hover swipebox",
                data: {title: "Vigor"} do %>
                <div class="item-info">
                  <div class="headline">
                    <%= t "visit_place" %>
                    <div class="line"></div>
                    <div class="date"><%= t("date_example1") %></div>
                  </div>
                </div>
                <div class="mask"></div>
              <% end %>
              <div class="item-img">
                <%= image_tag "v1.jpg", class: "img-responsive" %>
              </div>
            </div>
            <h4><%= link_to t("temporibus"), "#" %></h4>
            <p><%= t("travel_reason") %></p>
            <div class="visit-blog">
              <div class="visit-btn">
                <%= link_to t("read_more"), "#" %></a>
              </div>
              <div class="visit-likes">
                <%= link_to "#" do %>
                  <span class="#"><%= t "title_2k" %></span>
                <% end %>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        <div class="col-md-4 visit-grid">
          <div class="item-1 item-type-spin">
            <%= link_to "#", class: "item-hover swipebox",
              data: {title: "Vigor"} do %>
              <div class="item-info">
                <div class="headline">
                  <h3><%= t "visit_tour" %></h3>
                  <div class="line"></div>
                  <div class="date"><%= t("date_example1") %></div>
                </div>
              </div>
              <div class="mask"></div>
            <% end %>
            <div class="item-img">
              <%= image_tag "v2.jpg", class: "img-responsive" %>
            </div>
          </div>
            <h4><%= link_to t("temporibus"), "#" %></h4>
            <p><%= t "travel_reason" %></p>
            <div class="visit-blog">
              <div class="visit-btn">
                <%= link_to t("read_more"), "#" %>
              </div>
              <div class="visit-likes">
                <%= link_to t("title_2k"), "#" %>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
          <div class="col-md-4 visit-grid">
            <div class="item-1  item-type-spin">
              <%= link_to "#", class: "item-hover swipebox",
                data: {title: "Vigor"} do %>
                <div class="item-info">
                  <div class="headline">
                    <%= t "visit_tour" %>
                    <div class="line"></div>
                    <div class="date"><%= t("date_example1") %></div>
                  </div>
                </div>
                <div class="mask"></div>
              <% end %>
              <div class="item-img">
                <%= image_tag "v3.jpg", class: "img-responsive" %>
              </div>
            </div>
            <h4><%= link_to t("temporibus"), "#" %></h4>
            <p><%= t("travel_reason") %></p>
            <div class="visit-blog">
              <div class="visit-btn">
                <%= link_to t("read_more"), "#" %>
              </div>
              <div class="visit-likes">
                <%= link_to t("title_2k"), "#" %>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>
<!--what we do strat here-->
<div class="what-we-do">
  <div class="container">
    <div class="people-top  wow bounceInLeft" data-wow-delay="0.3s">
      <h1><%= t "about_us" %></h1>
      <span class="lft-bar-we"> </span>
      <span class="rit-bar-we"> </span>
      <p><%= t "travel_invite" %></p>
      <%= link_to t("read_more"), "#", class: "hvr-bounce-out" %>
      <div class="clearfix"> </div>
    </div>
 </div>
</div>
<!--what we do end here-->
<!--contact -->
<div  class="contact">
  <div class="container">
    <div class="contact-main">
      <div class="contact-top">
        <h1><%= t("contact_title") %></h1>
        <span class="lft-bar-contact"></span>
        <span class="rit-bar-contact"></span>
      </div>
      <div class="contact-bottom">
        <div class="col-md-6 col-md-offset-3
          contact-left wow bounceInLeft data-wow-delay="0.3s">
          <!--contact-form-->
          <form>
            <p class="your-para"><%= t("your_name_label") %></p>
            <input type="text" value="" onfocus="this.value='';"
              onblur="if (this.value == '') {this.value ='';}">
            <p class="your-para"><%= t("your_email_label") %></p>
            <input type="text" value="" onfocus="this.value='';"
              onblur="if (this.value == '') {this.value ='';}">
            <p class="your-para"><%= t("your_message_label") %></p>
            <textarea cols="77" rows="6" onfocus="this.value='';"
              onblur="if (this.value == '') {this.value = '';}">
            </textarea>
            <ul class="actions">
              <li><input type="submit" class="style1" value="Send" /></li>
            </ul>
          </form>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>
