<div id="comment-<%= comment.id %>">
  <div class="code-in">
    <p class="smith"><a href="#"><i class="glyphicon glyphicon-user">
      </i> <%= comment.user.name %></a>
      <span class="date">
        <%= time_ago_in_words(comment.created_at) %><%= t "ago" %>
      </span>
    </p>
    <div class="clearfix"> </div>
  </div>
  <div class="media-left">
    <a href="#">
      <img src="images/g1.jpg" alt="">
    </a>
  </div>
  <div class="media-body">
    <p><%= comment.content %></p>
  </div>
  <div >
    <% if current_user == comment.user %>
      <%= link_to "", edit_review_comment_path(comment.review, comment),
        class: "glyphicon glyphicon-edit", id: "comment-#{comment.id}", remote: true %>
      <%= link_to "", review_comment_path(comment.review, comment), method: :delete,
        data: {confirm: t("confirm_delete")}, class: "glyphicon glyphicon-trash text-danger",
         remote: true %>
    <% end %>
  </div>
  <hr />
</div>

