<div class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.182370726!2d-0.10159865000000001!3d51.52864165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+UK!5e0!3m2!1sen!2sin!4v1431577187804"></iframe>
  <div class="footer">
    <div class="container">
      <div class="footer-main">
        <div class="col-md-4 ftr-grids  wow bounceIn" data-wow-delay="0.4s">
          <h4><%= t "get_in_touch" %></h4>
          <ul class="get-touch">
            <li><span class="share"></span>
              <%= link_to t("tempor_incididunt_ut_labore_et_dolore"), "#" %></li>
            <li><span class="email"></span>
              <%= link_to t("email"), "#" %>
            <li><span class="phone">
              </span><%= t "phone2" %> </li>
          </ul>
        </div>
        <div class="col-md-4 ftr-grids  wow bounceIn" data-wow-delay="0.4s">
          <h4><%= t "follow_us_title" %></h4>
        </div>
        <div class="col-md-4 ftr-grids  wow bounceIn" data-wow-delay="0.4s">
          <h4><%= t "popular_posts_title" %></h4>
          <div class="ftr-last">
            <div class="ftr-month">
              <h6><%= t "january_title" %></h6>
            </div>
            <div class="ftr-like">
              <h6><%= t "likes_3" %></h6>
            </div>
            <div class="clearfix"> </div>
          </div>
          <p><%= t "lorem_month" %></p>
          <div class="ftr-last">
            <div class="ftr-month">
              <h6><%= t "february" %></h6>
            </div>
            <div class="ftr-like">
              <h6><%= t "likes_5" %></h6>
            </div>
            <div class="clearfix"> </div>
          </div>
          <p><%= t "lorem_month" %></p>
          <div class="ftr-last">
            <div class="ftr-month">
              <h6><%= t "march" %></h6>
            </div>
            <div class="ftr-like">
              <h6><%= t "likes_2" %></h6>
            </div>
            <div class="clearfix"> </div>
          </div>
          <p><%= t "lorem_month" %></p>
          <div class="ftr-last">
            <div class="ftr-month">
              <h6><%= t "april" %></h6>
            </div>
            <div class="ftr-like">
              <h6><%= t "likes_7" %></h6>
            </div>
            <div class="clearfix"> </div>
          </div>
          <p><%= t "lorem_month" %></p>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>
<div class="copy-right wow bounceInLeft" data-wow-delay="0.3s">
  <h3><%= t "framgia_book_tour" %></h3>
</div>
