<div class="banner">
  <div class="header">
    <div class="container">
      <div class="header-main">
        <div class="logo wow bounceInLeft" data-wow-delay="0.3s">
          <%= link_to image_tag("logo1.png"), "#" %>
        </div>
        <div class="top-navg">
          <span class="menu"><%= image_tag "icon.png" %></span>
          <nav class="cl-effect-13">
            <ul class="res">
              <li><%= link_to t("home"), "#", class: "active" %></li>
              <li><%= link_to t("tour"), "#" %></li>
              <li class="dropdown">
                <%= link_to "#", {class: "dropdown-toggle",
                  "data-toggle": "dropdown"} do %>
                  <%= t "service" %>
                  <b class="caret"></b>
                <% end %>
                <ul class="dropdown-menu background" role="menu">
                  <li><%= link_to t("food"), "#" %></li>
                  <li><%= link_to t("hotel"), "#" %></li>
                  <li><%= link_to t("new"), "#" %></li>
                </ul>
              </li>
              <% if user_signed_in? %>
                <li><%= link_to t("sign_out"), destroy_user_session_path,
                  method: :delete %></li>
              <% else %>
                <li><%= link_to t("sign_in"), "#" %></li>
                <li><%= link_to t("sign_in_with_fb"), user_facebook_omniauth_authorize_path %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="banner-main">
    <div class="slider-bann wow bounceInRight" data-wow-delay="0.3s">
      <ul class="rslides" id="slider2">
        <li>
          <h3><%= t "welcome_travel" %></h3>
          <h4><%= t "welcome_travel_desc" %></h4>
        </li>
        <li>
          <h3><%= t "welcome_travel_2" %></h3>
          <h4><%= t "welcome_travel_desc" %></h4>
        </li>
        <li>
          <h3><%= t "welcome_travel_3" %></h3>
          <h4><%= t "welcome_travel_desc" %></h4>
          <div class="ban-btn">
            <%= link_to t("read_more"), "#", class: "hvr-bounce-out" %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
