<div class="header">
  <div class="container">
    <div class="header-main">
      <div class="logo wow bounceInLeft" data-wow-delay="0.3s">
        <%= link_to image_tag("logo1.png"), "#" %>
      </div>
      <div class="top-navg">
        <span class="menu"><%= image_tag "icon.png" %></span>
        <nav class="cl-effect-13">
          <ul class="res">
            <li><%= link_to t("admin.user.home"), admin_path,
              class: "active" %></li>
            <li class="dropdown">
              <%= link_to "#", {class: "dropdown-toggle",
                "data-toggle": "dropdown"} do %>
                <%= t "admin.manager.title" %>
                <b class="caret"></b>
              <% end %>
              <ul class="dropdown-menu background">
                <li><%= link_to t("admin.manager.tour"), "#" %></li>
                <li><%= link_to t("admin.manager.category"), "#" %></li>
                <li><%= link_to t("admin.manager.review"), "#" %></li>
              </ul>
            </li>
            <li><%= link_to t("sign_out"), destroy_user_session_path,
                method: :delete %></li>
          </ul>
        </nav>
      </div>
    <div class="clearfix"></div>
    </div>
  </div>
</div>

