<div id="section-navigation">
 <ul class="navi">
   <li><%= link_to t("sidebar.menu"), "#" %></li>
   <li><%= link_to t("sidebar.menu"), "#" %></li>
   <li><%= link_to t("sidebar.menu"), "#" %></li>
   <li><%= link_to t("sidebar.menu"), "#" %></li>
   <li><%= link_to t("sidebar.menu"), "#" %></li>
   <li><%= link_to t("sidebar.menu"), "#" %></li>
   <li><%= link_to t("sidebar.menu"), "#" %></li>
   <li><%= link_to t("sidebar.menu"), "#" %></li>
   <li><%= link_to t("sidebar.menu"), "#" %></li>
   <li><%= link_to t("sidebar.menu"), "#" %></li>
 </ul>
</div>
